@use "../../styles/variables" as *;

.movie {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  background-color: $primary-color;
  color: $color-white;
  border-radius: 5px;
  height: 100%;
  width: 20%;

  &__title {
    font-size: 32px;
    margin: 0;
    color: $color-white;
  }

  &__text {
    font-size: 12px;
    font-weight: lighter;
    color: $color-white;
  }

  &__buttonContainer {
    align-content: center;
  }

  &__button {
    width: 25%;
    font-size: 10px;
  }
}
